<div class="row">
    <div class="page-header"> <h2></h2></div>
    <div class="col-md-12">
        <div class="col-md-12 heroes-description">
            <span></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Format : </label><p></p>
                <label>Nombre de pages : </label><p></p>
                <label>Prix : </label><p></p>

                <label>Personnages concernés : </label>
                <ul>
                    <li>
                        <a></a>
                    </li>
                </ul>
            </div>

            <a data-toggle="modal" data-target="#serie-modal">Sample</a>

            <div class="col-md-6">
                <img class="heroes-portrait"/>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-backdrop="false" id="serie-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4></h4>
            </div>
            <div class="modal-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <img style="margin:auto">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <a href="#carousel-example-generic" class="left carousel-control" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="#carousel-example-generic" class="right carousel-control" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


