<div class="row">
    <div class="page-header"><h2>Welcome to Marvel universe!</h2></div>
    <div class="col-md-12">
        <p>
            Welcome to Marvel Universe ! </br>
            To find an hero you have to search him by his name.</br>
            But only with letter that matches the begin of his name.
        </p>

        <form name="searchForm">
            <div class="input-group col-md-5">
                <input type="text" class="form-control"/>
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search"/>
                </span>
            </div>
        </form>
        <div>
            <a data-toggle="modal" data-target="#graph-modal">See Graph</a>
            <ul>
                <li class="heroes-list">
                    <img class="img-thumbnail" />
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" data-backdrop="false" id="graph-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><a>Graph</a></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>