<div class="row">
    <div class="page-header"> <h2></h2></div>
    <div class="col-md-12">
        <div class="col-md-12 heroes-description">
            <span></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Comics : </label>
                <ul>
                    <li>
                        <a></a>
                    </li>
                </ul>

                <label>Personnages concernés : </label>
                <ul>
                    <li>
                        <a></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <img class="heroes-portrait"/>
            </div>
        </div>
    </div>
</div>


